*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
.zshrc.local
.python-version
samples
.netrwhist
.bundle
/vendor/bundle
Gemfile.lock
node_modules
bower_components
fishd.*

# Vim
Session.vim
.vim/bundle/
.vimrc_sample
.vim/ftdetect/Dockerfile.vim
.vim/syntax/Dockerfile.vim
.vim/snippets/
.config/nvim/local.vim

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace/xcshareddata

# CocoaPods
Pods/

# Atom.io
.atom/packages/save-session
.atom/compile-cache
.atom/storage

# Fish local config
.config/fish/config-local.fish
.config/fish/fish_variables.x86_64
.config/fish/completions/
.config/fish/fish_variables
.config/fish/functions/fisher.fish
.config/iterm2/
# Fish plugin settings
# Tide auto injected files using wizard
.config/fish/functions/_tide*
.config/fish/functions/tide/
.config/fish/functions/tide.fish
.config/fish/functions/fish_prompt.fish
.config/fish/functions/fish_mode_prompt.fish
.config/fish/functions/sdk.fish
.config/fish/conf.d/_tide_init.fish
.config/fish/conf.d/sdk.fish
# Z auto injected files
.config/fish/conf.d/z.fish
.config/fish/functions/__z.fish
.config/fish/functions/__z_*
# gruvbox theme auto injected files
.config/fish/functions/theme_gruvbox.fish

# Karabiner
.config/karabiner/automatic_backups
